@using WebUniversity.ViewModels;
@model GroupViewModel
@{
<html>
<head>
<meta charset="utf-8" />
<title>Edit group</title>
</head>
<body>
 <h1> Edit</h1>
 <form asp-controller="Group" asp-action="Edit" method="post">
 @Html.AntiForgeryToken()
 <fieldset>
 <legend>Group information</legend>
       <p>
        <label asp-for="Id"></label>
        <strong>@Model.Id</strong>
       </p>
      <p>
        <label asp-for="Name"></label>
        <input asp-for="Name" value="@Model.Name">
        <span asp-validation-for="Name" class="text-danger"></span>
      </p>

      <p>
        <label asp-for="CourseID"></label>
        <select asp-for="CourseID" asp-items="Model.existingCourses" id="@Model.CourseID" class="form-control"> </select>
      </p>

      <p><input type="submit" name="buttonSubmit" value="Save changes"/></p>
 </fieldset>
 </form>
</body>
</html>
}