@{
    ViewData["Title"] = "Home Page dacdc";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core It`s first my site. It`s my first projet, I hope ypu will like my product.</a>.</p>
</div>
